<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="local">
        <include resource="logback/console-logger.xml"/>
        <logger name="com.wooteco.sokdak" level="DEBUG">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE">
            <appender-ref ref="STDOUT"/>
        </logger>

        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE">
            <appender-ref ref="STDOUT"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback/file-logger.xml"/>
        <include resource="logback/file-db-logger.xml"/>
        <include resource="logback/console-logger.xml"/>
        <include resource="logback/slack-logger.xml"/>

        <logger name="com.wooteco.sokdak" level="DEBUG">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ASYNC-SLACK-DEV-WARN"/>
        </logger>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="FILE"/>
        </logger>

        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="FILE-DB"/>
        </logger>

        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE">
            <appender-ref ref="FILE-DB"/>
        </logger>

        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE">
            <appender-ref ref="FILE-DB"/>
        </logger>

        <root level="WARN">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ASYNC-SLACK-DEV-WARN"/>
            <appender-ref ref="ASYNC-SLACK-DEV-ERROR"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback/file-logger.xml"/>
        <include resource="logback/slack-logger.xml"/>

        <logger name="com.wooteco.sokdak" level="ERROR">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ASYNC-SLACK-PROD-ERROR"/>
        </logger>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="FILE"/>
        </logger>

        <root level="ERROR">
            <appender-ref ref="FILE"/>
            <appender-ref ref="ASYNC-SLACK-PROD-ERROR"/>
        </root>
    </springProfile>
</configuration>
